.wrap {
  position: relative;
  height: 100%;
}
.wrap__blockNumber {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #fff;
  text-align: center;
}
.wrap__blockNumber-text {
  -ms-flex-item-align: center;
      align-self: center;
  color: #000000;
  font-family: "Noto Serif";
  font-size: 24px;
  line-height: 24px;
}
.wrap__blockNumber-text p:nth-child(1) {
  font-size: 36px;
  line-height: 40px;
  position: relative;
}
.wrap__blockNumber-text p:nth-child(1)::after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-left: 4px solid;
  top: 39%;
  right: 4%;
}
.teaser {
  display: grid;
  background-color: #fbf6e8;
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(80px, auto);
}
.teaser-img {
  height: 100%;
}
.teaser-img img {
  height: 100%;
  width: inherit;
}
.teaser-text {
  padding: 7px 16px 9px 19px;
}
.teaser-text p:nth-child(1) {
  color: #bebebe;
  font-size: 10px;
  font-weight: 700;
}
.teaser-text h3 {
  margin: 2% 0;
  font-weight: 700;
  font-size: 12px;
}
.teaser-text p:nth-child(3) {
  line-height: 14px;
  font-size: 12px;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNb4g.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v20/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvUDQ.ttf) format('truetype');
}
* {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  color: #000000;
}
p {
  margin: 0;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: #000000;
}
body {
  margin: 0px;
  background-color: #8cadb6;
}
.page {
  margin: 0 auto;
  padding: 34px;
  max-width: 700px;
  background-color: #ffffff;
}
.header__title {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 15px;
}
.header__leftBlock {
  font-family: 'Playfair Display', serif;
  color: #010101;
  font-size: 40px;
  line-height: 18px;
  text-transform: uppercase;
}
.header__rightBlock {
  border-bottom: 2px solid #010101;
  height: 20px;
}
.header__img {
  position: relative;
  padding-top: 30px;
}
.header__img::after {
  content: '';
  position: absolute;
  border-left: 10px solid;
  right: calc(50% - 10px);
  bottom: 3px;
  border: 11px solid transparent;
  border-bottom: 10px solid white;
}
.header__blockNumber {
  display: grid;
  top: 50px;
  left: 20px;
  position: absolute;
  width: 160px;
  height: 104px;
  opacity: 0.8;
  background-color: #fff;
  text-align: center;
}
.header__blockNumber_text {
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Noto Serif";
  font-size: 24px;
  line-height: 24px;
}
.header__blockNumber_text p:nth-child(1) {
  font-size: 36px;
  line-height: 40px;
  position: relative;
}
.header__blockNumber_text p:nth-child(1)::after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-left: 4px solid;
  top: 39%;
  right: 20px;
}
.header__text {
  padding: 16px 0 18px 0;
  line-height: 18px;
  font-size: 13px;
}
.header__text p {
  font-weight: 700;
}
.header__text span {
  color: #b7b7b7;
  font-weight: 400;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 1fr));
  grid-auto-rows: minmax(53px, auto);
  grid-gap: 20px;
}
.gallery__item {
  height: 100%;
}
.gallery__item:hover {
  opacity: 0.3;
}
.gallery__item img {
  height: 100%;
}
.gallery__reclame1 {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__reclame2 {
  grid-column-start: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}
.gallery__teaserWrap {
  display: none;
  padding: 10px 0;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
.pagination {
  font-size: 13px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 10px;
}
.pagination div {
  display: inline-block;
}
.pagination__leftBlock span {
  color: #848484;
}
.pagination__centerBlock {
  padding-left: 20px;
  padding-right: 20px;
}
.pagination__linck {
  padding: 0 5px;
}
.pagination__linck span {
  padding: 10px 15px;
  border-radius: 52%;
}
.pagination__linck span:hover {
  background-color: #e6e6e682;
}
.pagination__linck-actived {
  font-weight: 700;
  color: #000000;
}
.pagination__linck-actived span {
  background-color: #e6e6e6;
}
@media (max-width: 730px) {
  .gallery__reclame2 {
    display: none;
  }
}
@media (max-width: 670px) {
  .page {
    padding: 34px 20px;
  }
  .gallery {
    grid-gap: 15px;
  }
  .wrap__blockNumber-text {
    font-size: 20px;
  }
  .wrap__blockNumber-text p:nth-child(1) {
    font-size: 30px;
  }
}
@media (max-width: 550px) {
  .header__img::after {
    display: none;
  }
  .gallery {
    grid-gap: 10px;
    grid-template-columns: repeat(5, minmax(80px, 1fr));
  }
  .gallery__reclame1 {
    padding-left: 10px;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .wrap__blockNumber-text {
    font-size: 14px;
  }
  .wrap__blockNumber-text p:nth-child(1) {
    font-size: 18px;
    line-height: 18px;
  }
  .wrap__blockNumber-text p:nth-child(1)::after {
    border: 4px solid transparent;
    border-left: 3px solid;
  }
  .pagination__leftBlock {
    display: none!important;
  }
}
@media (max-width: 479px) {
  .page {
    padding: 34px 5px;
  }
  .gallery {
    grid-gap: 5px;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
  }
  .gallery__reclame1 {
    display: none;
  }
  .gallery__teaserWrap {
    display: inherit;
  }
}
